
  .styles-for-container::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, #8B5CF6, #4F46E5, #9333EA);
    border-radius: 20px;
    
  }
  .styles-for-container::-webkit-scrollbar{
      width: 5px;
      
  }

  .styles-for-container::-webkit-scrollbar-track{
    margin-left: 20px;
  }

  img {
    -webkit-user-drag: none; /* Safari and older versions of Chrome */
  }
  